/* @import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap"); */

/* @media screen and (min-width: 800px) { */
/*   body { */
/*     margin-left: 300px; */
/*   } */
/*   #toc { */
/*     bottom: 40px; */
/*     right: calc(100vw - 300px); */
/*     overflow-y: scroll; */
/*     position: fixed; */
/*     top: 40px; */
/*     left: 40px; */
/*   } */
/* } */

/* :root { */
/*   --bg: #2d353b; */
/*   --bg2: #1e2326; */
/*   --fg: #d3c6aa; */
/*   --0: #475258; */
/*   --1: #e67e80; */
/*   --2: #a7c080; */
/*   --3: #dbbc7f; */
/*   --4: #7fbbb3; */
/*   --5: #d699b6; */
/*   --6: #83c092; */
/*   --7: #d3c6aa; */
/*   --8: #475258; */
/*   --9: #e67e80; */
/*   --10: #a7c080; */
/*   --11: #dbbc7f; */
/*   --12: #7fbbb3; */
/*   --13: #d699b6; */
/*   --14: #83c092; */
/*   --15: #d3c6aa; */
/* } */
/* a, */
/* a:visited { */
/*   color: var(--4); */
/*   text-decoration: none; */
/* } */
/* body { */
/*   background-color: var(--bg); */
/*   color: var(--fg); */
/*   font-family: "Patrick Hand", sans-serif; */
/*   font-size: 16pt; */
/*   padding: 40px; */
/* } */
/* code, */
/* pre { */
/*   font-family: "Fira Code", monospace; */
/*   font-size: 14pt; */
/* } */
/* h1, */
/* h2, */
/* h3, */
/* h4, */
/* h5, */
/* h2, */
/* .sectlevel1 > li > a { */
/*   color: var(--1); */
/* } */
/* h3, */
/* .sectlevel2 > li > a { */
/*   color: var(--3); */
/* } */
/* h4, */
/* .sectlevel3 > li > a { */
/*   color: var(--2); */
/* } */
/* h5, */
/* .sectlevel4 > li > a { */
/*   color: var(--4); */
/* } */
/* hr { */
/*   border-color: var(--fg); */
/* } */
/* img { */
/*   border-radius: 3vmin; */
/*   max-height: 125px; */
/*   max-width: 25%; */
/* } */
/* mark { */
/*   background-color: var(--3); */
/* } */
/* table { */
/*   border-spacing: 0px; */
/*   margin: 1em; */
/* } */
/* table tr:first-child td:first-child { */
/*   border-top-left-radius: 3vmin; */
/* } */
/* table tr:first-child td:last-child { */
/*   border-top-right-radius: 3vmin; */
/* } */
/* table tr:last-child td:first-child { */
/*   border-bottom-left-radius: 3vmin; */
/* } */
/* table tr:last-child td:last-child { */
/*   border-bottom-right-radius: 3vmin; */
/* } */
/* video { */
/*   border-radius: 3vmin; */
/* } */
/* #toc ul { */
/*   list-style-type: none; */
/*   padding-left: 1em; */
/* } */
/* #toc ul li { */
/*     line-height: 1; */
/*     padding-bottom: 0.5em; */
/* } */
/* pre.highlightjs > code { */
/*   border-radius: 3vmin; */
/* } */
/* span.underline { */
/*   text-decoration: underline; */
/* } */
/* span.line-through { */
/*   text-decoration: line-through; */
/* } */
/* sup.footnote { */
/*   visibility: hidden; */
/*   margin-left: -0.5em; */
/*   margin-right: -0.5em; */
/* } */
/* sup.footnote > a { */
/*   visibility: visible; */
/*   padding-left: 0.25em; */
/*   padding-right: 0.25em; */
/* } */
/* td.tableblock, */
/* th.tableblock { */
/*   border: 2px solid var(--fg); */
/*   padding: 0.5em; */
/* } */
/* th.tableblock { */
/*   border: none; */
/* } */
/* .imageblock img { */
/*   max-width: 100%; */
/*   max-height: 500px; */
/* } */
/* .title { */
/*   color: var(--5); */
/* } */

/* .hljs { */
/*   background: var(--bg2) !important; */
/*   color: var(--fg) !important; */
/* } */
/* .hljs-addition, */
/* .hljs-built_in, */
/* .hljs-bullet, */
/* .hljs-emphasis, */
/* .hljs-section, */
/* .hljs-selector-attr, */
/* .hljs-selector-pseudo, */
/* .hljs-string, */
/* .hljs-subst, */
/* .hljs-template-tag, */
/* .hljs-template-variable, */
/* .hljs-title, */
/* .hljs-type, */
/* .hljs-variable { */
/*   color: var(--2) !important; */
/* } */
/* .hljs-attribute, */
/* .hljs-link, */
/* .hljs-regexp, */
/* .hljs-symbol { */
/*   color: var(--5) !important; */
/* } */
/* .hljs-class .hljs-title, */
/* .hljs-title.class_ { */
/*   color: var(--7) !important; */
/* } */
/* .hljs-code { */
/*   color: var(--4) !important; */
/* } */
/* .hljs-comment, */
/* .hljs-deletion, */
/* .hljs-meta, */
/* .hljs-quote { */
/*   color: var(--0) !important; */
/* } */
/* .hljs-doctag, */
/* .hljs-keyword, */
/* .hljs-literal, */
/* .hljs-section, */
/* .hljs-selector-id, */
/* .hljs-selector-tag, */
/* .hljs-title, */
/* .hljs-type { */
/*   font-weight: bold !important; */
/* } */
/* .hljs-keyword, */
/* .hljs-literal, */
/* .hljs-name, */
/* .hljs-selector-tag, */
/* .hljs-strong, */
/* .hljs-tag { */
/*   color: var(--1) !important; */
/* } */
